@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html{
  scroll-behavior: smooth;
}
 body::-webkit-scrollbar {
    display: none;
  }

   body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }   

li{
  font-family: 'Rancho', cursive;
  font-size: 25px;
  font-weight: 800;
  padding-top: 0px;
}
ul{
  background: rgb(138,131,177);
  background: linear-gradient(177deg, rgba(138,131,177,1) 0%, rgba(225,129,157,1) 50%, rgba(255,219,105,1) 100%);
  border-radius: 14px;
  margin-top: 10px;
  box-shadow: 4px 5px 10px #0000008c;
}
a:active {
  color:brown
}
 h1{
  font-family: 'Bree Serif', serif;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 100px;
 }
 p{
   font-size: 20px;
   font-family: 'Roboto Slab', serif;

 }
.card_class{
  margin-top: 25px;
  background-color: aquamarine;
  width: 20%;
  height: 50%;
  border-radius: 20px;
}
.card_class_img{
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 50% ;
}
.contact_us_heading{
  font-size: 80px;
}
/******************************/
.container_main{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.container::-webkit-scrollbar {
  display: none;
}
section{
  scroll-snap-align: start;
}
